body{
	margin: 0;
	padding: 0;
	font-size: 16px;
}

.grid{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-areas: 
	"holo holo holo holo"
	"cont cont cont cont";
	border: 1px solid black;
}

.Holo{
	grid-area: holo;
	background-color: greenyellow;
	color: white;
	border-radius: 10px;
	font-weight: 800;
	font-size: 20px;
}

.contenido{
	grid-area: cont;
}

.foto{
	height: 350px;
	width: auto;
}